*{
    margin: 0;
    padding: 0;
}

.customShadow{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/***user table***/
.userTable{
    @apply bg-purple-200
}
.userTable th{
    @apply border text-base font-medium
}

.userTable td{
    @apply border text-base text-center
}

*scrollbar hidden***
.scrollbar-none::-webkit-scrollbar{
    display: none;
}

nav{    
    height: 60px;    
    background-color: rgb(184, 146, 6);
    display: block;
    justify-content: space-between;
    align-items: center;
}

.nav1{
    display: flex;
}

.link-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;   
}


.nava{
    height: auto;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    box-sizing: border-box;

}


